/.vs
/packages
/Soulbrain.BarcodeMan.Core/bin
/Soulbrain.BarcodeMan.Core/obj
/Soulbrain.BarcodeMan.Core/*.user
/Soulbrain.BarcodeMan.EntityFramework/bin
/Soulbrain.BarcodeMan.EntityFramework/obj
/Soulbrain.BarcodeMan.EntityFramework/*.user
/Soulbrain.BarcodeMan.Web/bin
/Soulbrain.BarcodeMan.Web/obj
/Soulbrain.BarcodeMan.Web/Content
/Soulbrain.BarcodeMan.Web/Scripts
/Soulbrain.BarcodeMan.Web/Properties/PublishProfiles
/Soulbrain.BarcodeMan.Web/*.user
/Soulbrain.BarcodeMan.Test/bin
/Soulbrain.BarcodeMan.Test/obj
/Soulbrain.BarcodeMan.Test/*.user
/Soulbrain.BarcodeMan.Resources/bin
/Soulbrain.BarcodeMan.Resources/obj
/Soulbrain.BarcodeMan.Resources/*.user
/TestResults
